Repository maddy3940/VoltWise: changes, and which CircleCI parameters are due for each by the changed paths.
All: docker_job, lambda_ingestion_job, lambda_historic_data_job

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.6
workflows:
  version: 2
  docker_and_lambda:
    jobs:
      - path-filtering/filter:
          base-revision: "main"
          config-path: .circleci/continue_config.yml
          mapping: |
            Modelling/Prophet/Artifacs/Docker/.* docker_job true
            Lambda/daily-ingestion/.* lambda_ingestion_job true
            Lambda/getHistoricData/.* lambda_historic_data_job true

Updated use of when
  .circleci/continue_config.yml
Due: none

Updated when syntax
  .circleci/continue_config.yml
Due: none

Testing final CI/CD
  Lambda/daily-ingestion/lambda_function.py
  Lambda/getHistoricData/lambda_function.py
  Modelling/Prophet/Artifacs/Docker/Prophet_predict/prophet_predict.py
Due: docker_job, lambda_ingestion_job, lambda_historic_data_job

Testing gethistoric lambda CI/CD
  Lambda/getHistoricData/lambda_function.py
Due: lambda_historic_data_job

Final test CI/CD
  .circleci/continue_config.yml
  Lambda/daily-ingestion/lambda_function.py
  Modelling/Prophet/Artifacs/Docker/Prophet_predict/prophet_predict.py
Due: docker_job, lambda_ingestion_job

Updated getHistoric lambda
  Lambda/daily-ingestion/lambda_function.py
Due: lambda_ingestion_job

updated api lambda
  Lambda/getHistoricData/lambda_function.py
Due: lambda_historic_data_job

updated code to convert time to epoch time
  Lambda/getHistoricData/lambda_function.py
Due: lambda_historic_data_job

Added CI/CD for statistics lambda
  .circleci/config.yml
  .circleci/continue_config.yml
  Lambda/getStatisticsData/lambda_function.py
Due: none

Added stats lambda
  .circleci/continue_config.yml
  Lambda/getStatisticsData/lambda_function.py
Due: none

Converted hour to int
  Lambda/daily-ingestion/lambda_function.py
Due: lambda_ingestion_job

Updated lambda function
  CAL.parquet
  Lambda/Local_code/Data/Hourly/New_data_parquet/CAL.parquet
  Lambda/Local_code/Data/Hourly/New_data_parquet/CAR.parquet
  Lambda/Local_code/Data/Hourly/New_data_parquet/CENT.parquet
  Lambda/Local_code/Data/Hourly/New_data_parquet/FLA.parquet
  Lambda/Local_code/Data/Hourly/New_data_parquet/MIDA.parquet
  Lambda/Local_code/Data/Hourly/New_data_parquet/MIDW.parquet
  Lambda/Local_code/Data/Hourly/New_data_parquet/NE.parquet
  Lambda/Local_code/Data/Hourly/New_data_parquet/NY.parquet
  Lambda/Local_code/Data/Hourly/New_data_parquet/SE.parquet
  Lambda/Local_code/Data/Hourly/New_data_parquet/SW.parquet
  Lambda/Local_code/Data/Hourly/New_data_parquet/TEX.parquet
  Lambda/Local_code/hourly_to_daily_processing.ipynb
  Lambda/daily-ingestion/lambda_function.py
Due: lambda_ingestion_job

Removed files
  CAL.parquet
  Lambda/Local_code/hourly_to_daily_processing.ipynb
Due: none

Updated to mask secret keys
  Modelling/Prophet/Artifacs/Docker/Prophet_predict/prophet_predict.py
  Modelling/Prophet/Artifacs/Docker/Prophet_retrain/prophet_train.py
Due: docker_job

ECS test
  Modelling/Prophet/Artifacs/Docker/Prophet_predict/prophet_predict.py
  Modelling/Prophet/Artifacs/Docker/Prophet_retrain/prophet_train.py
Due: docker_job

Updated S3 keys
  Modelling/Prophet/Artifacs/Docker/Prophet_predict/prophet_predict.py
  Modelling/Prophet/Artifacs/Docker/Prophet_retrain/prophet_train.py
Due: docker_job

corrected code for aggregation by frequency
  .DS_Store
  Lambda/.DS_Store
  Lambda/getHistoricData/lambda_function.py
Due: lambda_historic_data_job

corrected code for aggregation by frequency
  Lambda/getHistoricData/lambda_function.py
Due: lambda_historic_data_job

corrected code for timezone using pytz
  Lambda/getHistoricData/lambda_function.py
Due: lambda_historic_data_job

added energy exchange insights
  Lambda/getStatisticsData/lambda_function.py
Due: none

corrected code for 6 month aggregation
  Lambda/getHistoricData/lambda_function.py
Due: lambda_historic_data_job

added error handling to the code
  Lambda/getHistoricData/lambda_function.py
Due: lambda_historic_data_job

added error handling to the code
  Lambda/getHistoricData/lambda_function.py
  Lambda/getStatisticsData/lambda_function.py
Due: lambda_historic_data_job
